@model Data.Models.MobilePhone
@using MVCPhoneServiceWeb.Utils;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-black">Edit Mobile Phone</h2>
<br />

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="border backgroundWhite row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IMEI" />
        <div class="col-4 ">
            <div class="form-group row">
                <div class="col-4 ">
                    <label asp-for="IMEI" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="IMEI" class="form-control text-center" />
                </div>
                <span asp-validation-for="IMEI" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4 ">
                    <label asp-for="Model" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Model" class="form-control text-center" />
                </div>
                    <span asp-validation-for="Model" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <div class="col-8 offset-2">
                <div class="row">
                    <div class="col-2">
                        <input type="submit" value="Save" class="btn btn-info" />
                    </div>
                    <div class="col-4 ">
                        <a asp-action="Index" asp-all-route-data="@SD.MobilePhones_params" class="btn btn-success ">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}