@model Data.Models.Employee
@using MVCPhoneServiceWeb.Utils;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<h2 class="text-black">Edit Employee</h2>
<br />

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="border backgroundWhite row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EmployeeId" />
        <div class="col-5 ">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control text-center" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4 ">
                    <label asp-for="CostCenterCode" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CostCenterCode" class="form-control text-center" />
                </div>
                <span asp-validation-for="CostCenterCode" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PersonalCode" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PersonalCode" class="form-control text-center" />
                </div>
                <span asp-validation-for="PersonalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
        </div>
        <div class="col-8 text-left">
            <div class="col-8 offset-3">
                <div class="row">
                    <div class="col-2">
                        <input type="submit" value="Save" class="btn btn-info" />
                    </div>
                    <div class="col-4 ">
                        <a asp-action="Index" asp-all-route-data="@SD.Employee_params" class="btn btn-success ">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 @* TODO En esta vista no sale el centro de costo *@