@model Data.Models.MobilePhoneCall

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-black">Create Mobile Phone Call</h2>
<br />

<form method="post" enctype="multipart/form-data">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PhoneNumber" class="control-label"></label>
            </div>
            <div class="col-3">
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        @* cambio *@
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="IMEI" class="control-label"></label>
            </div>
            <div class="col-3">
                <input asp-for="IMEI" class="form-control"/>
            </div>
            <span asp-validation-for="IMEI" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="DateTime" class="control-label"></label>
            </div>
            <div class="col-3">
                <input asp-for="DateTime" class="form-control" />
            </div>
            <span asp-validation-for="DateTime" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MobilePhoneCallDuration" class="control-label"></label>
            </div>
            <div class="col-3">
                <input asp-for="MobilePhoneCallDuration" class="form-control" />
            </div>
            <span asp-validation-for="MobilePhoneCallDuration" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MobilePhoneCallAddressee" class="control-label"></label>
            </div>
            <div class="col-3">
                <input asp-for="MobilePhoneCallAddressee" class="form-control" />
            </div>
            <span asp-validation-for="MobilePhoneCallAddressee" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MobilePhoneCallCost" class="control-label"></label>
            </div>
            <div class="col-3">
                <input asp-for="MobilePhoneCallCost" class="form-control" />
            </div>
            <span asp-validation-for="MobilePhoneCallCost" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <div class="row">
                    <div class="col-2">
                        <input type="submit" class="btn btn-info" value="Create" />
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" class="btn btn-success">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}