@model Data.Models.MobilePhoneCall
@using MVCPhoneServiceWeb.Utils;
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-black">Delete Mobile Phone Call</h1>
<h3>Are you sure you want to delete this?</h3>
<br />
<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <input type="hidden" asp-for="PhoneNumber" />
    <input type="hidden" asp-for="DateTime" />
    <input type="hidden" asp-for="Addressee" />
    <input type="hidden" asp-for="Duration" />
    <input type="hidden" asp-for="TotalCost" />
    <div class="backgroundWhiteBorder row">
        <div class="col-8">
            <fieldset disabled style="background-color:white;">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PhoneNumber" class="custom-label"></label>
                    </div>
                    <div class="col-4">
                        <input type="text" asp-for="PhoneNumber" style="background-color:white;" class="form-control text-center" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="DateTime" class="custom-label"></label>
                    </div>
                    <div class="col-4">
                        <input type="text" asp-for="DateTime" style="background-color:white;" class="form-control text-center" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Addressee" class="custom-label"></label>
                    </div>
                    <div class="col-4">
                        <input type="text" asp-for="Addressee" style="background-color:white;" class="form-control text-center" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Duration" class="custom-label"></label>
                    </div>
                    <div class="col-4">
                        <input type="text" asp-for="Duration" style="background-color:white;" class="form-control text-center" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="TotalCost" class="custom-label"></label>
                    </div>
                    <div class="col-4">
                        <input type="text" asp-for="TotalCost" style="background-color:white;" class="form-control text-center" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
        </div>
        <div class="col-12"></div>
        <div class="col-8">
            <div class="col-8 offset-3">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" asp-all-route-data="@SD.MobilePhoneCalls_params" class="btn btn-success">Back to List</a>
            </div>
        </div>
    </div>
</form>