@model Data.Models.LandlinePhoneCall

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-black">Details Landline Phone Call</h2>
<br />
<div class="backgroundWhiteBorder row">
    <div class="col-8">
        <fieldset disabled style="background-color:white;">
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="EmployeeId" class="custom-label"></label>
                    @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
                </div>
                <div class="col-4">
                    @*@Html.DisplayFor(model => model.PhoneNumber)*@
                    <input type="text" asp-for="EmployeeId" style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Employee.EmployeeName" class="custom-label"></label>
                </div>
                <div class="col-4">
                    @*@Html.DisplayFor(model => model.PUK)*@
                    <input type="text" asp-for="Employee.EmployeeName" style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Destination" class="custom-label"></label>
                </div>
                <div class="col-4">
                    @*@Html.DisplayFor(model => model.PUK)*@
                    <input type="text" asp-for="Destination" style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="LandlinePhoneCallDateTime" class="custom-label"></label>
                </div>
                <div class="col-4">
                    @*@Html.DisplayFor(model => model.PUK)*@
                    <input type="text" asp-for="LandlinePhoneCallDateTime" style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="LandlinePhoneCallDuration" class="custom-label"></label>
                </div>
                <div class="col-4">
                    @*@Html.DisplayFor(model => model.PUK)*@
                    <input type="text" asp-for="LandlinePhoneCallDuration" style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="LandlinePhoneCallAddressee" class="custom-label"></label>
                </div>
                <div class="col-4">
                    @*@Html.DisplayFor(model => model.PUK)*@
                    <input type="text" asp-for="LandlinePhoneCallAddressee" style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="LandlinePhoneCallCost" class="custom-label"></label>
                </div>
                <div class="col-4">
                    @*@Html.DisplayFor(model => model.PUK)*@
                    <input type="text" asp-for="LandlinePhoneCallCost" style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
        </fieldset>
    </div>

    <div class="col-12"></div>
    <div class="col-8">
        <div class="col-8 offset-3">
            <a asp-action="Edit" class="btn btn-info" asp-route-extension="@Model.Extension" asp-route-employeeId="@Model.EmployeeId" asp-route-dateTime="@Model.LandlinePhoneCallDateTime">Edit</a>
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</div>