@model Data.Models.SMS
@using MVCPhoneServiceWeb.Utils;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-black">Edit Message</h2>
<br />

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="border backgroundWhite row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-5 ">
            <div class="form-group row">
                <div class="col-4 ">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="PhoneNumber" readonly style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 ">
                    <label asp-for="DateTime" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input type="datetime" asp-for="DateTime" readonly style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 ">
                    <label asp-for="E_R" class="control-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="E_R" class="form-control text-center" asp-items="ViewBag.E_F"></select>
                </div>
                <span asp-validation-for="E_R" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4 ">
                    <label asp-for="Total" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Total" class="form-control text-center" />
                </div>
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4 ">
                    <label asp-for="Location" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Location" class="form-control text-center" />
                </div>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4 ">
                    <label asp-for="Destination" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Destination" class="form-control text-center" />
                </div>
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4 ">
                    <label asp-for="Roaming" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input type="checkbox" asp-for="Roaming" class="form-control text-center" />
                </div>
                <span asp-validation-for="Roaming" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
        </div>
        <div class="col-8 text-left">
            <div class="col-8 offset-3">
                <div class="row">
                    <div class="col-2">
                        <input type="submit" value="Save" class="btn btn-info" />
                    </div>
                    <div class="col-4 ">
                        <a asp-action="Index" asp-all-route-data="@SD.Sms_params" class="btn btn-success ">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<h1>Edit</h1>

<h4>SMS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SMSId" />
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <select asp-for="PhoneNumber" class="form-control" asp-items="ViewBag.PhoneNumber"></select>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_R" class="control-label"></label>
                <input asp-for="E_R" class="form-control" />
                <span asp-validation-for="E_R" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LD" class="control-label"></label>
                <input asp-for="LD" class="form-control" />
                <span asp-validation-for="LD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Charge" class="control-label"></label>
                <input asp-for="Charge" class="form-control" />
                <span asp-validation-for="Charge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Roaming" /> @Html.DisplayNameFor(model => model.Roaming)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

