@model Data.Models.PhoneLine

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-black">Delete Phone Line</h1>
<h3>Are you sure you want to delete this?</h3>
<br />
<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <div class="backgroundWhiteBorder row">
        <div class="col-8">
            <fieldset disabled style="background-color:white;">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PhoneNumber" class="custom-label"></label>
                        @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
                    </div>
                    <div class="col-4">
                        @*@Html.DisplayFor(model => model.PhoneNumber)*@
                        <input type="text" asp-for="PhoneNumber" style="background-color:white;" class="form-control text-center" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PUK" class="custom-label"></label>
                    </div>
                    <div class="col-4">
                        @*@Html.DisplayFor(model => model.PUK)*@
                        <input type="text" asp-for="PUK" style="background-color:white;" class="form-control text-center" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PIN" class="custom-label"></label>
                    </div>
                    <div class="col-4">
                        <input type="text" asp-for="PIN" style="background-color:white;" class="form-control text-center" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
        </div>
        <div class="col-12"></div>
        <div class="col-8">
            <div class="col-8 offset-3">
                @*<partial name="_addCartDetailsAndBactkToList" model="Model.Announce.AnnounceID" />*@
                <input type="hidden" asp-for="PhoneNumber" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
    </div>
</form>