@model Data.Models.PhoneLine
@using MVCPhoneServiceWeb.Utils;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-black">Details Phone Line</h2>
<br />
<div class="backgroundWhiteBorder row">
    <div class="col-8">
        <fieldset disabled style="background-color:white;">
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="PhoneNumber" class="custom-label"></label>
                </div>
                <div class="col-4">
                    <input type="text" asp-for="PhoneNumber" style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="PUK" class="custom-label"></label>
                </div>
                <div class="col-4">
                    <input type="text" asp-for="PUK" style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="PIN" class="custom-label"></label>
                </div>
                <div class="col-4">
                    <input type="text" asp-for="PIN" style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
        </fieldset>
    </div>

    <div class="col-12"></div>
    <div class="col-8">
        <div class="col-8 offset-3">
            <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.PhoneNumber">Edit</a> 
            <a asp-action="Index" asp-all-route-data="@SD.PhoneLines_params" class="btn btn-success">Back to List</a>
        </div>
    </div>
</div>